.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.sqlite3
**/node_modules/
frontend/dist/
backend/static/
backend/media/
venv*/
backend/venv*/
venv_old_*/
Temp/
ComMicPlan-Flutter-App/
*.log
*.env
docker.env
.DS_Store
